USE [testDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 3/31/2019 12:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Comment] [nvarchar](50) NULL,
	[ProvinceId-FK] [smallint] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Data_FG]
) ON [Data_FG]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 3/31/2019 12:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Comment] [nvarchar](50) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Data_FG]
) ON [Data_FG]

GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name], [Comment], [ProvinceId-FK]) VALUES (1, N'آذرشهر', NULL, 32)
INSERT [dbo].[City] ([Id], [Name], [Comment], [ProvinceId-FK]) VALUES (2, N'تیمورلو', NULL, 32)
INSERT [dbo].[City] ([Id], [Name], [Comment], [ProvinceId-FK]) VALUES (3, N'گوگان', NULL, 32)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([Id], [Name], [Comment]) VALUES (32, N'آذربایجان شرقی', NULL)
INSERT [dbo].[Province] ([Id], [Name], [Comment]) VALUES (33, N'آذربایجان غربی', NULL)
INSERT [dbo].[Province] ([Id], [Name], [Comment]) VALUES (34, N'اردبیل', NULL)
SET IDENTITY_INSERT [dbo].[Province] OFF
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([ProvinceId-FK])
REFERENCES [dbo].[Province] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
