USE [testDB]
GO
/****** Object:  Table [dbo].[Pelak]    Script Date: 3/31/2019 12:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelak](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[CityIdFK] [int] NULL,
	[PelakNumber] [int] NULL,
	[PelakHarf] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pelak] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Pelak] ON 

INSERT [dbo].[Pelak] ([Id], [CityName], [CityIdFK], [PelakNumber], [PelakHarf]) VALUES (1, N'تهران', 329, 11, N'*')
INSERT [dbo].[Pelak] ([Id], [CityName], [CityIdFK], [PelakNumber], [PelakHarf]) VALUES (2, N'تهران', 329, 22, N'*')
INSERT [dbo].[Pelak] ([Id], [CityName], [CityIdFK], [PelakNumber], [PelakHarf]) VALUES (3, N'تهران', 329, 33, N'*')
GO
SET IDENTITY_INSERT [dbo].[Pelak] OFF
